html {
    font-family: "Georgia Italic";
}
body{
background-image: url(../img/montañanieve.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
width: 100%;

}


.logo {
  border-radius: 26px 26px 26px 26px;
  -moz-border-radius: 26px 26px 26px 26px;
  -webkit-border-radius: 26px 26px 26px 26px;
}


/* Generales */
.margen {
 padding-top: 10px;

}

.centrado {
  text-align: center;
  width: 100%;
}

.navegacion {
 padding-left:  250px;
}

.justificado {
  text-align: justify;

}

 /* Para blog */
.textoUbicacion {
  font-size: 20px;
}

.foto {
max-width: 100%;
  height: auto;
}

.derecha {
  text-align: right;
}

.fondo {
  background-color: #A9E2F3  ;
}
